* {
    box-sizing: border-box;
    font-family: Karla;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1C1C;
}

h1, h2, h3, h4, h5, h6 {
    color: 293264;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #DBDEF0;
}

.quiz--check {
    display: flex;
    justify-content: center;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #F5F7FB;
    position: relative;
}

.btn {
    background-color: #4D5B9E;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: white;
}

.btn:hover {
    background-color: #fff;
    color: #1C1C1C;
}

.btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .btn {
        min-width: 120px;
        padding: 0 25px;
    }
}

.start--info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start--title {
    font-size: 60px;
    color: #293264;
    margin-bottom: 7px;
}

.start--desc {
    color: #293264;
    margin-bottom: 30px;
}

.blob-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    user-select: none;
}

.blob-2 {
    position: absolute;
    right: 0;
    top: 0;
}

.quiz--container {
    margin: 20px;
    margin-bottom: 30px;
}

.quiz--title {
    font-size: 20px;
    margin-bottom: 7px;
    max-width: 600px;
}

.quiz--answers {
    display: flex;
    margin-bottom: 10px;
}

.quiz--btn {
    background-color: transparent;
    border-radius: 10px;
    border: 0.79px solid #4D5B9E;
    color: #293264;
    font-size: 18px;
    margin-right: 13px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
}

.quiz-btn-selected {
    background-color: #D6DBF5
}

.quiz-btn-incorrect {
    background-color: #e66f86;
}

.quiz-btn-correct {
    background-color: #88dd88;
}

.correct-answers-text {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.noQuiz-error {
    margin-bottom: 1.5em;
	text-align: center;
    color: red;
}

@media (max-width: 700px) {
    .app {
        display: table;
    }

    .start--info {
        margin-top: 60%;
    }

    .noQuiz-error {
        margin-bottom: 1em;
        text-align: center;
        color: red;
        max-width: 300px;
        font-size: 20px;
    }

    .quiz--check > button {
        font-size: 20px;
    }

    .quiz--btn {
        background-color: transparent;
        border-radius: 10px;
        border: 0.79px solid #4D5B9E;
        color: #293264;
        font-size: 18px;
        margin-right: 13px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 300px;
        padding: 7px;
    }
}